@font-face {
  font-family: hpRegular;
  src: url("./font/hp-simplified-265.ttf");
}
@font-face {
  font-family: hpBold;
  src: url("./font/hp-simplified-556.ttf");
}

body {
 
  color: #0019ff;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  background-color: #ebf5ff;
  display: block;
  padding-top: 30px;
  width: 498px;
  height: 96vh;;
  margin: auto;
  border: 1px solid black;
  border-top: 0px;
}

.main .newLogo {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}


.main .newLogo img {
  width: 400px;
}

.main .button {
  background-color: #3195EB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 65px;
  margin: 0 auto;
  border-radius: 50px;
  cursor: pointer;
}

.main .button p {
  font-weight: 600;
  font-size: 26px;
  color: #fff;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}

.main .button p:hover {
  color: #3c37df;
  -webkit-transition: color .3s linear;
  transition: color .3s linear;
}



.main .button.next {
  margin-top: 10px;
}

.main #TextSection {
  font-family: hpRegular;
  font-size: 30px;
  font-weight: 500;
}

.main #TextSection #welcomeText {
  text-align: center;
  font-weight: bold;
  font-size: 35px;
}

.main #TextSection #projectText {
  text-align: center;
  font-weight: 400;
  font-size: 35px;
}

.main .doporilevazione {
 height: 100vh;
}


.navbar {
  position:fixed;
  bottom: 0;
  width: 499px;
  height: 8vh;
  border-bottom: 1px solid black;
  background-color: #3195EB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbarHome {
  position:fixed;
  bottom: 0;
  width: 499px;
  height: 8vh;
  border-bottom: 1px solid black;
  background-color: #3195EB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar img {
  width: 60px;
  height: 60px;
  padding: 15px;
}

.navbarHome img {
  width: 60px;
  height: 60px;
  padding: 15px;
}
.navbarHome #advice {
display: none;
}
.navbarHome #share {
  display: none;
  }


.navbar img:hover {
  cursor: pointer;
}

.formWrapper {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}




.formWrapper .inputWrapper {
  width: 75%;
  margin-top: 40px;
}

.inputWrapper #datiPersonali{
  color:black;
  font-size: 13px;
  position: relative;
  right: 30px; 
}

.formWrapper .inputWrapper label {
  font-size: 20px;
  font-weight: 500;
  display: block;
}

.formWrapper .inputWrapper input {
  border: 0px;
  background-color: #fff;
  color: #000;
  font-family: 'Poppins', sans-serif;
  border-radius: 30px;
  font-size: 15px;
  font-weight: 500;
  padding: 10px 15px 5px 10px;
  width: 255px;
  text-align: center;
}

.formWrapper .inputWrapper input:focus {
  border: 0px;
}

.formWrapper .inputWrapper.age {
  margin-top: 40px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
          
}

.formWrapper .inputWrapper.age input {
  padding: 5px 15px;
  width: 100%;
}

.formWrapper .inputWrapper.check {
  margin-bottom: 70px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 75%;
}



.main #TextSection #infoText {
  margin-top: 50px;
  text-align: center;
  color:#000000
}

.informationText #heading {
  font-family: hpRegular;
  font-size: 35px ;
  font-weight: 700;
  text-align: center;
  color: #3C37DF;
  margin-top: -25px;
  
}

.informationText #rilevazioneHome
{
  font-family: hpRegular;
  color:black;
  font-size: 35px ;
  font-weight: 700;
  text-align: center;
}

.informationText img:hover{
  cursor: pointer;
}

.informationText img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 25px;
    margin-top: -25px;
  }
.waterQualityBox .imageDimension {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin-bottom: -30px;
}

.waterQualityBox .particlePh {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-box-align:center;
      -ms-flex-align: center;
          align-items: center;
}
.waterQualityBox .particleTemp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align:center;
      -ms-flex-align: center;
          align-items: center;
}
.waterQualityBox .particlePh #value{
  font-size: 25px;
  color:black;
  font-weight: 500; 
  position: relative;
  top:1px;
  right:15px;
}

.waterQualityBox .particleTemp #value{
  font-size: 25px;
  color:black;
  font-weight: 500;
  position: relative;
  right:8px;
  top:1px;
}

.particlePh img {
  width: 60px;
  height: 60px;
  position: relative;
  right: 8px;
  bottom: 1px;

}
.particleTemp img {
  width: 50px;
  height: 50px;
  position: relative;
  right: 5px;
}


.gauge img#gaugeSample {
  height: 70px;
  display: block;
  width: 390px;
  margin-top: 20px !important;
  margin: auto;
  margin-bottom: 25px;
}

.gauge .infoGauge #percentage {
  color:#67e46e;
  font-size: 28px;
  font-weight: 600;
  display: block;
  margin-left: 90px;
  margin-bottom: -15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.waterQualityBox {
  width: 400px;
  border: 8px solid rgb(255, 255, 255);
  border-radius: 30px;
  display: block;
  margin: 0 auto;

}

.waterQualityBox .title {
  font-size: 22px;
  font-weight: 500;
  line-height: 20px;
}

.waterQualityBox #position {
  font-size: 18px;
  color: #878787;
  margin-top: -4px;
}

.waterQualityBox #percentage {
  font-size: 38px;
  color: #3c37df;
  font-family: Arial;
  margin-left: 45px;
  
}

.waterQualityBox #percentageDescription {
  font-size: 22px;
  font-weight: bold;
}

.waterQualityBox #fullDescription {
  display: block;
  color: #878787;
  font-size: 18px;
  margin-top: -13px;
}

.waterQualityBox .innerBox {
  margin-top: 20px;
  margin-bottom: 20px;
}

.waterQualityBox .particleInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.waterQualityBox .particle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.waterQualityBox .sfondo{
  background-color: #fff;
  padding: 10px;
  border-radius: 40px;
  margin-bottom: 20px;
}
.waterQualityBox .sfondoTemp{
  background-color: #fff;
  position: relative;
  bottom: 5px;
  left: 30px;
  padding: 5px;
  border-radius: 40px;
  margin-bottom: 20px;
  margin-top: 15px;
}
.waterQualityBox .sfondoPh{
  background-color: #fff;
  position: relative;
  right: 30px;
  border-radius: 40px;
}

.waterQualityBox .particle #value {
  font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;
  font-size: 20px;
  color:black;
  font-weight: 300;
  margin-bottom: 10px;
}

.waterQualityBox .particle #index {
  font-family: "Eras ITC", "Eras Light ITC",  sans-serif ;
  margin-top: -7px;
  font-size: 20px;
  color:black;
  font-weight: medium;
}

.boxBluetoothUsb {
  width: 400px;
  border-radius: 30px;
  position: relative;
  top: -170px;
  display: block;
  margin: 0 auto;
  
}

.boxBluetoothUsb .particleInfoBluetoothUsb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.boxBluetoothUsb .particleInfoBluetoothUsb .bluetooth img{
  width: 195px; 
  height: 195px;
  position: relative;
  left: 10px;
}

.boxBluetoothUsb .particleInfoBluetoothUsb .usb img{
  width: 240px; 
  height: 240px;
  position: relative;
  left: 20px;
}


.boxBluetoothUsb .particleInfoBluetoothUsb .usb p{
  color:#707070 !important;
  font-weight: 550;
  text-align:justify;
  margin-top: -20px;
  padding-left: 20px;
  margin-left: -65px;
}
.boxBluetoothUsb .particleInfoBluetoothUsb .bluetooth p{
  color:#707070 !important;
  font-weight: 550;
  text-align:justify;
  margin-top: -20px;
  padding-right: 120px;
}

#datiRilevati{
  color:#6533DA;
  font-size: 25px;
  margin-left: 180px;
}



.positionTextConfigurazione p{
  text-align: left;
  color:#000;
  margin-left: 115px;
}
.buttonDate{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  
}

.buttonDate #giorni,#mesi,#trimestri { 
  outline: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font:  Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
  padding: 5px;
  width: 120px;
  height: 45px;
  background-color: #3195EB;
  border-radius: 50px;
  }
  .buttonDate #casa,#fiume,#mare { 
    outline: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font:  Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    padding: 5px;
    width: 120px;
    height: 45px;
    border-radius: 20px;
    background-color: #3195EB;
    border-radius: 50px;
    }
  .buttonDate #giorni:hover,#mesi:hover,#trimestri:hover{
    background-color: #00d5ff !important;
  }

  .buttonDate #casa:hover,#fiume:hover,#mare:hover{
    background-color: #00d5ff !important;
  }
  .boxAdviceCasa {
    width: 400px;
    height: 500px;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
    background-image: url('casa.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px 500px;
  }
  
  .boxAdviceFiume {
    width: 400px;
    height: 500px;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
    background-image: url('fiume.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px 500px;
  }
  
  .boxAdviceMare {
    width: 400px;
    height: 500px;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
    background-image: url('mare.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 400px 500px;
  }
  
  
  .boxForButton {
    width: 480px;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
  
  }
  .boxForButton .positionButton {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }


  .buttonHome{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  
}
.buttonHome #casahome, #fiumehome, #marehome { 
  outline: none;
  cursor: pointer;
  text-align: left;
  text-decoration: none;
  font: bold 12px Arial, Helvetica, sans-serif;
  color: #fff;
  font-family: hpRegular;
  font-size: 30px;
  padding: 30px;
  width: 450px;
  height: 90px;
  }
.buttonHome #fiumehome { 
  background-image: url("fiumeHome.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 450px 350px;
  }
.buttonHome #marehome {
    background-image: url("mareHome.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 450px 350px;
    }
.buttonHome #casahome { 
background-image: url("casaHome.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: 450px 350px;
}

.boxAdviceCasa .particleConsigli {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.boxAdviceCasa .sfondo{
  background-color: #fff;
  border-radius: 40px;
  margin-bottom: 20px;
}


.boxAdviceFiume .particleConsigli {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.boxAdviceFiume .sfondo{
  background-color: #fff;
  border-radius: 40px;
  margin-bottom: 20px;
}


.boxAdviceMare .particleConsigli {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-around;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.boxAdviceMare .sfondo{
  background-color: #fff;
  border-radius: 40px;
  margin-bottom: 20px;
}
.boxStatistiche {
  width: 400px;
  height: 500px;
  border-radius: 30px;
  display: block;
  margin: 0 auto;
 background-color: #3195EB;
}

.informationText #statText {
  font-family: hpRegular;
  font-size: 35px ;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin-top: -25px;
  
}

.main .buttonStat {
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 65px;
  margin: 0 auto;
  border-radius: 50px;
  cursor: pointer;
}

.main .buttonStat p {
  font-weight: 600;
  font-size: 26px;
  color: #000;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
}
.rilevazione{
  text-align: center;
}
.rilevazione p{
  color: #000;
  font-size: 20px;
  margin-top: -22px;
}
.rilevazione img{
  position: relative;
  bottom: 20px;
  height:450px;
  width:430px;
}

.share{
  position:fixed;
  bottom: 0px;
  width: 497px;
  height: 30vh;
  border-top: 1px solid black;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  }
  .share1{
    position:fixed;
    bottom: 20vh;
    width: 497px;
    height: 2vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack:justify;
        -ms-flex-pack: justify;
            justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    }
    .share2{
      position:fixed;
      bottom: 0;
      width: 497px;
      height: 15vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-direction: row;
              flex-direction: row;
      -webkit-box-pack:justify;
          -ms-flex-pack: justify;
              justify-content: space-around;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      }
.share p{
  position: relative;
  bottom: 100px;
  color: #000;
  font-size: 25px;
  font-weight: bold;
}
.share1 img{
  height: 60px;
  width: 60px;
  border-radius: 30px;  
}
.share2 img{
  height: 60px;
  width: 60px;
  border-radius: 30px;
}

.share1 img:hover{
  cursor: pointer;
}

.share2 img:hover{
cursor: pointer;
}

.formWrapper #spanome{
color:red;
font-size: 15px;
position: fixed;
}
.formWrapper #spanome{
color:red;
font-size: 15px;
position: fixed;
}
.formWrapper #spancognome{
color:red;
font-size: 15px;
position: fixed;
}
.formWrapper #spanmail{
color:red;
font-size: 15px;
position: fixed; 
}
.formWrapper #spanage{
color:red;
font-size: 15px;
position: fixed;
}
.formWrapper #spancheck{
color:red;
font-size: 15px;
position: fixed;
}
.formWrapper #positionTextReg{
  position: relative;
  right: 70px;
  bottom: 10px
}
.formWrapper #positionTextRegcheck{
  position: relative;
  right: 275px;
  top: 40px;
}
 /* Center the loader */
 #loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#riuscito {
  display: none;
  text-align: center;
}

.overlay {
    background: #e9e9e9;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
}
#bottonehome {
  background-color: #3195EB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 65px;
  margin: 0 auto;
  cursor: pointer;
  font-weight: 600;
  font-size: 26px;
  color: #fff;
  -webkit-transition: color 0.3s linear;
  transition: color 0.3s linear;
  border-radius: 50px;
}
